body {
  height: 1000px;
  background-image: url(imgs/imgTwo.jpg);

  background-size: cover;
  background-repeat: no-repeat;
}

.headElm {
  display: flex;
  margin: 10px auto;

  justify-content: center;
}
#formDiv {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#mainForm {
  margin-bottom: 30px;
}

#mainForm label {
  margin: 10px 0;

  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}
#mainForm input,
#mainForm select,
#mainForm textarea {
  width: auto;
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}
#mainForm textarea {
  margin: -20px 20px;
}
#subBtn {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  background-color: #878787;
  padding: 12px 30px;

  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#subBtn:hover {
  background-color: #565656;
}

/* --- table -- */

#productTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}
#productTable th,
#productTable td {
  max-width: 50px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

#delBtn {
  border-radius: 5px;
  background-color: rgb(255, 37, 37);
  cursor: pointer;
}
.availDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.availDiv label {
  margin-right: 10px;
  margin-bottom: 0;
}

.searchDiv {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  padding: 0 15px;
}

#searchInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
